<!--
header>div.row>h1+li.navElement-$*4
-->

<header>
    <div class="row">

        <h1>Search Moovie</h1>
        <li class="navElement-3">
            <a href="/">Acceuil</a>
        </li>
        <li class="">
            <a href="/mooviesSearch">Search </a>
        </li>
        <li class="navElement-4">
            <a href="">Contact</a>
        </li>
        <li class="navElement-5">
            <a href="">News</a>
        </li>

    </div>
</header>